<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{title.homepage}"></title>
    <th:block th:replace="~{fragments/general.html :: head-resources}"></th:block>
</head>
<body>
<div th:replace="~{fragments/general.html :: pre-header}"></div>
<div th:replace="~{fragments/general.html :: header}"></div>

<div class="body-content">
    <div class="container">
        <div class="mb-2">
            <div class="text-center pt-5">
                <ul class="nav nav-tabs tab-films d-inline-block">
                    <li class="active"><a href="#tab-1" data-toggle="tab" id="dangchieu" class="text-decoration-none">
                        <h1 class="font-30 font-sm-15 font-xs-12" th:text="#{text.now_showing}"></h1>
                    </a></li>
                    <li><a href="#tab-2" data-toggle="tab" id="sapchieu" class="text-decoration-none">
                        <h1 class="font-30 font-sm-15 font-xs-12" th:text="#{text.coming_soon}"></h1>
                    </a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane in active" id="tab-1">
                    <div class="row mt-5">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 px-4">
                            <div class="product-item no-padding">
                                <div class="pi-img-wrapper">
                                    <img class="img-fluid border-radius-20" alt=""
                                         src="https://files.betacorp.vn/media%2fimages%2f2025%2f06%2f24%2f21532672%2D43ac%2D41a2%2Daa25%2De06e0cdabcc2%2D114903%2D240625%2D97.jpg">
                                    <span style="position: absolute;top: 10px;left: 10px;"><img th:src="@{/images/age-rating/p.png}" class="img-responsive"></span>
                                </div>
                            </div>
                            <div class="product-item no-padding">
                                <div class="film-info film-xs-info">
                                    <h3 class="text-center text-sm-left text-xs-left bold margin-top-5 font-sm-18 font-xs-14" style="max-height: 30px; min-height: 30px;"><a href="/film-detail.htm?gf=7f616c75-8be5-420e-bfc7-737cc1c1e0a9">Dan Ca Go</a>
                                    </h3>
                                    <ul class="list-unstyled font-lg font-family-san font-sm-15 font-xs-14">
                                        <li style="max-height: 50px;"><span class="bold">
                                                Genre:</span> Romance, Psychology</li>
                                        <li><span class="bold">
                                                Running Time:</span> 30
                                            minutes
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-center padding-bottom-30" style="min-height: 85px;">
                                    <a style="display: block;" href="#showtimes-pop-up" onclick="viewsShowtimes('dfd9306f-fbc8-4807-a8c6-5e6c3f7ad71c', '7f616c75-8be5-420e-bfc7-737cc1c1e0a9', 'Dan Ca Go', 'Beta Thai Nguyen')" class="btn btn-2 btn-mua-ve2 fancybox-fast-view"><span><i class="fa fa-ticket mr3"></i></span>
                                        BOOKING</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 px-4">
                            <div class="product-item no-padding">
                                <div class="pi-img-wrapper">
                                    <img class="img-fluid border-radius-20" alt=""
                                         src="https://files.betacorp.vn/media%2fimages%2f2025%2f06%2f24%2f21532672%2D43ac%2D41a2%2Daa25%2De06e0cdabcc2%2D114903%2D240625%2D97.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 px-4">
                            <div class="product-item no-padding">
                                <div class="pi-img-wrapper">
                                    <img class="img-fluid border-radius-20" alt=""
                                         src="https://files.betacorp.vn/media%2fimages%2f2025%2f06%2f24%2f21532672%2D43ac%2D41a2%2Daa25%2De06e0cdabcc2%2D114903%2D240625%2D97.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 px-4">
                            <div class="product-item no-padding">
                                <div class="pi-img-wrapper">
                                    <img class="img-fluid border-radius-20" alt=""
                                         src="https://files.betacorp.vn/media%2fimages%2f2025%2f06%2f24%2f21532672%2D43ac%2D41a2%2Daa25%2De06e0cdabcc2%2D114903%2D240625%2D97.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>