<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title th:text="#{title.login}">Title</title>
  <th:block th:replace="~{fragments/general.html :: head-resources}"></th:block>
  <link rel="stylesheet" th:href="@{/css/account/login.css}">
</head>
<body>
<div th:replace="~{fragments/general.html :: pre-header}"></div>
<div th:replace="~{fragments/general.html :: header}"></div>

<div class="login-container">
  <button
          class="nav-link w-100"
          id="signup-tab"
          data-bs-toggle="tab"
          data-bs-target="#signup"
          type="button"
          role="tab"
          aria-controls="signup"
          aria-selected="false"
          th:text="#{btn.signup}">
    ĐĂNG KÝ
  </button>

  <div class="tab-content" id="loginTabContent">
      <form th:object="${signupRequest}" method="POST" th:action="@{/views/account/signup}">
        <div class="row">
          <div class="col-md-6">
            <div class="md-3">
              <label for="fullName" class="form-label">Họ tên</label>
              <input
                      type="text"
                      name="fullName"
                      class="form-control"
                      id="fullName"
                      placeholder="fullName"
                      th:field="*{fullName}"
                      required/>
            </div>
            <div class="md-3">
              <label for="password" class="form-label">Mật Khẩu</label>
              <input
                      type="text"
                      name="password"
                      class="form-control"
                      id="password"
                      placeholder="password"
                      th:field="*{password}"
                      required/>
            </div>
            <div class="md-3">
              <label for="birthday" class="form-label">Ngày Sinh</label>
              <input
                      type="text"
                      name="birthday"
                      class="form-control"
                      id="birthday"
                      placeholder="birthday"
                      th:field="*{birthday}"
                      required/>
            </div>
            <div class="md-3">
              <label for="phoneNumber" class="form-label">Số điện thoại</label>
              <input
                      type="tel"
                      name="phoneNumber"
                      class="form-control"
                      id="phoneNumber"
                      placeholder="phoneNumber"
                      th:field="*{phoneNumber}"
                      required/>
            </div>

          </div>

          <div class="col-md-6">
            <div class="md-3">
              <label for="email" class="form-label">Email</label>
              <input
                      type="email"
                      name="username"
                      class="form-control"
                      id="email"
                      placeholder="Email"
                      th:field="*{username}"
                      required/>
            </div>
            <div class="md-3">
              <label for="passwordConfirm" class="form-label">Xác nhận lại mật khẩu</label>
              <input
                      type="text"
                      name="passwordConfirm"
                      class="form-control"
                      id="passwordConfirm"
                      placeholder="passwordConfirm"
                      th:field="*{passwordConfirm}"
                      required/>
            </div>
            <div class="md-3">
              <label for="genre" class="form-label">Giới tính</label>
              <input
                      type="text"
                      name="genre"
                      class="form-control"
                      id="genre"
                      placeholder="genre"
                      th:field="*{genre}"
                      required/>
            </div>
          </div>
        </div>
        <button type="submit">Đăng ký</button>
      </form>
    </div>
</div>

<script th:inline="javascript">

</script>
</body>
</html>