<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách phim</title>
    <th:block th:replace="~{fragments/general-admin :: admin-head-resources}"></th:block>
</head>
<body>
<div class="admin-container">
    <div th:replace="~{fragments/general-admin :: admin-menu}"></div>

    <main class="main-content">
        <header>
            <h1>Danh sách phim</h1>
        </header>
        <!-- Search bar -->
        <div class="my-5">
            <form class="row g-3 align-items-center mb-4" method="get" th:action="@{/movies}">
                <div class="col-3">
                    <span><label for="keyword" class="form-label mb-0">Tìm kiếm</label></span>
                    <input type="text" id="keyword" class="form-control" placeholder="Tìm phim">
                </div>
                <div class="col-auto">
                    <span><label for="fromDate" class="form-label mb-0">Phát hành từ</label></span>
                    <input type="date" class="form-control" id="fromDate" name="fromDate">
                </div>
                <div class="col-auto">
                    <span><label for="toDate" class="form-label mb-0">Đến</label></span>
                    <input type="date" class="form-control" id="toDate" name="toDate">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                </div>

                <div class="col-auto">
                    <button class="btn text-white">
                        <a th:href="@{/views/admin/movies/add-new}">Thêm phim mới</a>
                    </button>
                </div>
            </form>
        </div>

        <!-- Table -->
        <div class="table-responsive bg-dark text-white rounded shadow-sm">
            <table class="table table-dark table-hover mb-0">
                <thead class="thead-light">
                <tr>
                    <th style="width: 20%;">Tên phim</th>
                    <th style="width: 15%;">Thể loại</th>
                    <th style="width: 25%;">Mô tả</th>
                    <th style="width: 10%;">Thời lượng</th>
                    <th style="width: 10%;">Độ tuổi</th>
                    <th style="width: 20%;">Ngày phát hành</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movies}"
                    th:onclick="'window.location.href=\'' + @{/views/admin/movies/{id}(id=${movie.id})} + '\';'"
                    style="cursor: pointer;">
                    <input type="hidden" th:value="${movie.id}" />
                    <td th:text="${movie.title}"></td>
                    <td th:text="${movie.genre}"></td>
                    <td th:text="${movie.description}"></td>
                    <td th:text="${movie.runningTime}"></td>
                    <td th:text="${movie.ageRating}"></td>
                    <td th:text="${movie.releaseDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination and Row Info -->
        <div class="d-flex justify-content-between align-items-center mt-3 text-white-50">
            <div>
                Rows per page:
                <select class="form-select d-inline-block w-auto ms-2">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                </select>
            </div>
            <div>
                <!--                <span th:text="'1-' + ${reservations.size()} + ' of ' + ${totalReservations}">1-10 of 12</span>-->
                <button class="btn btn-sm btn-outline-light ms-2">&lt;</button>
                <button class="btn btn-sm btn-outline-light ms-1">&gt;</button>
            </div>
        </div>
    </main>

</div>
</body>
</html>