body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width:768px) {
    .container {
        width: 730px;
    }
}

@media (min-width:992px) {
    .container {
        width: 950px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1150px;
    }
}

.top-bar {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 3px 20px;
}

.top-bar a {
    color: #fff;
    text-decoration: none;
}

.top-bar a:hover {
    text-decoration: underline;
}

.flag-icon {
    width: auto;
    height: auto;
    margin-left: 10px;
}

.header {
    box-shadow: 0 1px 3px #ddd;
    background: #fff;
    border-radius: 0;
    z-index: 999;
    position: relative;
    background-image: url(../images/bg-menu-header.png);
    background-repeat: no-repeat;
    background-size: cover; /* thêm dòng này */
    background-position: center; /* tùy chọn để ảnh căn giữa */
}

.header .container {
    position: relative;
}

.site-logo {
    float: left;
    font-size: 23px;
    font-weight: 400;
    margin-right: 67px;
    padding-top: 11px;
    padding-bottom: 9px;
}

.header-navigation, .header-navigation .dropdown {
    position: static;
}

.pull-right {
    float: right !important;
}

.header-navigation {
    font: 15px Oswald, sans-serif;
    /* margin: 0 10px 0 0; */
    padding: 0;
    float: left;
    text-transform: uppercase;
}

.font-transform-inherit {
    text-transform: inherit !important;
}

.header-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-navigation > ul > li {
    float: left;
}

.header-navigation > ul > li > a {
    color: #333;
    display: block;
    padding: 24px 12px 24px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    /* font-family: "PT Sans Narrow", Arial, sans-serif; */
}
