<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{title.movie_scheduled}"></title>
    <th:block th:replace="~{fragments/general.html :: head-resources}"></th:block>
</head>
<body>
<div th:replace="~{fragments/general.html :: pre-header}"></div>
<div th:replace="~{fragments/general.html :: header}"></div>
<div class="body-content">
    <div class="container">
        <div class="mb-2">
            <div class="text-center pt-5">
                <ul class="nav nav-tabs tab-films d-inline-block" role="tablist">
                    <li class="nav-item tab-active" role="presentation">
                        <a class="active text-decoration-none"
                           id="movie-showing-tab"
                           data-bs-toggle="tab"
                           href="#tab-1"
                           role="tab"
                           aria-controls="tab-1"
                           aria-selected="true">
                            <h1 class="font-30 font-sm-15 font-xs-12" th:text="#{text.now_showing}"></h1>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="text-decoration-none"
                           id="movie-will-showing-tab"
                           data-bs-toggle="tab"
                           href="#tab-2"
                           role="tab"
                           aria-controls="tab-2"
                           aria-selected="false">
                            <h1 class="font-30 font-sm-15 font-xs-12" th:text="#{text.coming_soon}"></h1>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="tab-1">
                    <div class="row mt-5">
                        <tr th:each="movie : ${movieShowToday}">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 px-4">
                                <div class="product-item no-padding">
                                    <div class="pi-img-wrapper position-relative">
                                        <img class="poster-img img-responsive border-radius-20" alt=""
                                             th:src="${movie.posterUrl}">
                                        <span style="position: absolute;top: 10px;left: 10px;">
                                            <img th:src="@{/images/age-rating/p.png}" class="img-responsive">
                                        </span>
                                        <!-- Overlay -->
                                        <div class="overlay">
                                            <a href="javascript:void(0);"
                                               th:attr="data-title=${movie.title},
                                                        data-trailer=${movie.trailerUrl}"
                                               class="play-button">
                                                <i class="fa fa-play-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item no-padding">
                                    <div class="film-info film-xs-info">
                                        <h3 class="text-sm-left text-xs-left fw-bold mt-2 font-sm-18 font-xs-14"
                                            style="max-height: 35px; min-height: 35px;">
                                            <a href="/film-detail.htm?gf=7f616c75-8be5-420e-bfc7-737cc1c1e0a9"
                                               th:text="${#strings.abbreviate(movie.title, 25)}"
                                               class="text-decoration-none">
                                            </a>
                                        </h3>
                                        <ul class="list-unstyled font-lg font-family-san font-sm-15 font-xs-14">
                                            <li style="max-height: 50px;">
                                                <span class="fw-bold" th:text="#{text.genre} + ': '"></span>
                                                <span th:text="${movie.genre}"></span>
                                            </li>
                                            <li>
                                                <span class="fw-bold" th:text="#{text.running_time} + ': '"></span>
                                                <span th:text="${movie.runningTime} + ' ' + #{text.minute}"></span>
                                            </li>
                                            <li>
                                                <span class="fw-bold" th:text="#{text.release_date} + ': '"></span>
                                                <span th:text="${movie.releaseDate}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="text-center" style="min-height: 80px;">
                                        <a style="display: block;border: none" href="#showtimes-pop-up"
                                           onclick="viewsShowtimes('dfd9306f-fbc8-4807-a8c6-5e6c3f7ad71c', '7f616c75-8be5-420e-bfc7-737cc1c1e0a9', 'Dan Ca Go', 'Beta Thai Nguyen')"
                                           class="btn btn-2 btn-mua-ve2">
                                            <span><i class="fa fa-ticket mr3" style="font-size:40px"></i></span>
                                            <span style="color: white" th:text="#{text.booking}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-2">
                    <div class="row mt-5">
                        <tr th:each="movie : ${movieComingSoon}">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 px-4">
                                <div class="product-item no-padding">
                                    <div class="pi-img-wrapper position-relative">
                                        <img class="poster-img img-responsive border-radius-20" alt=""
                                             th:src="${movie.posterUrl}">
                                        <span style="position: absolute;top: 10px;left: 10px;">
                                            <img th:src="@{/images/age-rating/p.png}" class="img-responsive">
                                        </span>
                                        <!-- Overlay -->
                                        <div class="overlay">
                                            <a href="javascript:void(0);"
                                               th:attr="data-title=${movie.title},
                                                        data-trailer=${movie.trailerUrl}"
                                               class="play-button">
                                                <i class="fa fa-play-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item no-padding">
                                    <div class="film-info film-xs-info">
                                        <h3 class="text-sm-left text-xs-left fw-bold mt-2 font-sm-18 font-xs-14"
                                            style="max-height: 35px; min-height: 35px;">
                                            <a href="/film-detail.htm?gf=7f616c75-8be5-420e-bfc7-737cc1c1e0a9"
                                               th:text="${#strings.abbreviate(movie.title, 25)}"
                                               class="text-decoration-none">
                                            </a>
                                        </h3>
                                        <ul class="list-unstyled font-lg font-family-san font-sm-15 font-xs-14">
                                            <li style="max-height: 50px;">
                                                <span class="fw-bold" th:text="#{text.genre} + ': '"></span>
                                                <span th:text="${movie.genre}"></span>
                                            </li>
                                            <li>
                                                <span class="fw-bold" th:text="#{text.running_time} + ': '"></span>
                                                <span th:text="${movie.runningTime} + ' ' + #{text.minute}"></span>
                                            </li>
                                            <li>
                                                <span class="fw-bold" th:text="#{text.release_date} + ': '"></span>
                                                <span th:text="${movie.releaseDate}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="text-center" style="min-height: 80px;">
                                        <a style="display: block;border: none" href="#showtimes-pop-up"
                                           onclick="viewsShowtimes('dfd9306f-fbc8-4807-a8c6-5e6c3f7ad71c', '7f616c75-8be5-420e-bfc7-737cc1c1e0a9', 'Dan Ca Go', 'Beta Thai Nguyen')"
                                           class="btn btn-2 btn-mua-ve2">
                                            <span><i class="fa fa-ticket mr3" style="font-size:40px"></i></span>
                                            <span style="color: white" th:text="#{text.booking}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal show movie trailer -->
<div class="modal fade" id="trailerModal" tabindex="-1" aria-labelledby="trailerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-radius-20">
            <div class="modal-header">
                <h5 class="modal-title" id="trailerModalLabel">Movie Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-5">
                <div class="ratio ratio-16x9">
                    <iframe id="trailerIframe" width="100%" height="100%" src=""
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<span style="display: none" id="trailer-notfound" th:text="#{trailer.notfound}"></span>
</body>
</html>