<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- set log path -->
	<property name="LOG_PATH" value="./logs" />

	<!-- include included the default configuration -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/TrackingGPS_%d{yyyy_MM_dd}_%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFileNamingAndTriggeringPolicy">
				<!-- set max file is 1GB -->
				<maxFileSize>1GB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
