<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:fragment="head-resources">
    <title></title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const provinceTheaters = [[${provinceTheaters}]];
        /*]]>*/
    </script>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/common.js}" defer></script>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
</head>
<body>
    <div th:fragment="pre-header" class="pre-header top-bar d-flex justify-content-end align-items-center">
        <div class="container d-flex justify-content-end align-items-center">
            <div class="ms-auto d-flex align-items-center">
                <div sec:authorize="isAuthenticated()">
                    <ul class="nav navbar-nav pull-right padding-right-10">
                        <li class="dropdown dropdown-user">
                            <a href="javascript:void(0)" style="padding: 2px;background-color: transparent; color: white"
                               class="dropdown-toggle" data-toggle="dropdown"
                               data-hover="dropdown"
                               data-close-others="true">
                                <span class="username username-hide-on-mobile" th:text="|#{text.hi} ${#authentication.principal.fullName}|"></span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default" style="position: absolute;">
                                <li>
                                    <a th:href="@{/views/account/membership}">
                                        <span th:text="#{text.account_information}"></span>
                                    </a>
                                </li>
                                <li class="divider"></li>
<!--                                <li>-->
<!--                                    <a onclick="RedirectUrl('/thong-tin-tai-khoan.htm#thethanhvien')" href="/thong-tin-tai-khoan.htm#thethanhvien">-->
<!--                                        <span th:text="#{text.account_information}"></span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="divider"></li>-->
<!--                                <li>-->
<!--                                    <a onclick="RedirectUrl('/thong-tin-tai-khoan.htm#hanhtrinhdienanh')" href="/thong-tin-tai-khoan.htm#hanhtrinhdienanh">-->
<!--                                        <i class="icon-paper-plane"></i> Hành trình điện ảnh-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="divider"></li>-->
<!--                                <li>-->
<!--                                    <a onclick="RedirectUrl('/thong-tin-tai-khoan.htm#betapoint')" href="/thong-tin-tai-khoan.htm#betapoint">-->
<!--                                        <i class="icon-pointer"></i> Điểm Beta-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="divider"></li>-->
<!--                                <li>-->
<!--                                    <a onclick="RedirectUrl('/thong-tin-tai-khoan.htm#voucher')" href="/thong-tin-tai-khoan.htm#voucher">-->
<!--                                        <i class="icon-briefcase"></i> Voucher của tôi-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="divider"></li>-->
                                <li>
                                    <a th:href="@{/views/account/logout}">
                                        <span th:text="#{text.logout}"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{'/views/account/login'}" th:text="#{login}"></a>
                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/views/account/signup'}" th:text="#{register}"></a>
                </div>
                <div class="dropdown ms-3">
                    <button class="btn btn-sm dropdown-toggle p-0 text-decoration-none" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:if="${#locale.language == 'vi'}" th:src="@{/images/vietnam.png}" alt="Tiếng Việt" class="flag-icon" style="width: 24px;">
                        <img th:if="${#locale.language != 'vi'}" th:src="@{/images/united-kingdom.png}" alt="English" class="flag-icon" style="width: 24px;">
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" style="color:black" href="javascript:void(0)" onclick="changeLanguage('vi')">
                                <img th:src="@{/images/vietnam.png}" style="width: 20px;" alt="Tiếng Việt" class="me-2"> Tiếng Việt
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" style="color:black" href="javascript:void(0)" onclick="changeLanguage('en')">
                                <img th:src="@{/images/united-kingdom.png}" style="width: 20px;" alt="English" class="me-2"> English
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div class="header-row d-flex align-items-center">
                        <a class="site-logo" href="/home">
                            <img alt="" style="height: 55px;" th:src="@{/images/logo.png}">
                        </a>
                        <div class="top-cart-block border border-secondary p-2">
                            <div class="top-cart-info">
                                <!-- BEGIN NAVIGATION -->
                                <div class="header-navigation font-transform-inherit font-family-san menu-cinema">
                                    <ul>
                                        <li class="dropdown ">
                                            <a class="dropdown-toggle no-padding"
                                               data-toggle="dropdown"
                                               data-target="#"
                                               href="javascript:void(0)"
                                               aria-expanded="false">
                                                <span class="me-1"
                                                      th:text="${not #lists.isEmpty(provinceTheaters) and not #lists.isEmpty(provinceTheaters[0].theaters) ? provinceTheaters[0].theaters[0].theaterName : ''}"> //TODO
                                                </span>
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu">

                                                <li th:each="province, iterStat : ${provinceTheaters}" class="dropdown-submenu">
                                                    <a><span th:text="${province.provinceName}"></span>
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>

                                                    <ul class="dropdown-menu top-0" role="menu">
                                                        <li th:each="theater, iterStat : ${province.theaters}">
                                                            <a onclick="ChooseCinema('1f0b7d55-9dd6-4c46-bd4d-3b50024d14ec', 'Beta Thanh Xuân');">
                                                                <span th:text="${theater.theaterName}"></span>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END NAVIGATION -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="header-navigation pull-right font-transform-inherit">
                        <ul>
                            <li>
                                <a href="/views/movies/movies-scheduled" th:text="#{text.movie_schedule}"></a>
                            </li>
                            <li>
                                <a href="/views/movies" th:text="#{text.movie}"></a>
                            </li>
                            <li>
                                <a href="/phim.htm" th:text="#{text.theater}"></a>
                            </li>
                            <li>
                                <a href="/gia-ve.htm" th:text="#{text.ticket_price}">GIÁ VÉ</a>
                            </li>
                            <li>
                                <a href="/thong-tin-tai-khoan.htm" th:text="#{text.membership}">THÀNH VIÊN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal select theater -->
    <div th:fragment="select-theater" class="modal fade" id="selectTheaterModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chọn rạp phim</h5>
                </div>
                <div class="modal-body">
                    <!-- Select Province -->
                    <label for="provinceSelect" class="form-label">Chọn Tỉnh/Thành phố</label>
                    <select id="provinceSelect" class="form-select">
                        <option value="" disabled selected>-- Chọn tỉnh --</option>
                        <option th:each="province : ${provinceTheaters}"
                                th:value="${province.provinceCode}"
                                th:text="${province.provinceName}"></option>
                    </select>

                    <!-- Select Theater -->
                    <label for="theaterSelect" class="form-label mt-3">Chọn Rạp phim</label>
                    <select id="theaterSelect" class="form-select" disabled>
                        <option value="" disabled selected>-- Chọn rạp --</option>
                        <!-- Option theater sẽ được JS thêm vào -->
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirmTheaterBtn" class="btn btn-primary" disabled>Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="showtime-modal" class="modal fade" id="showtimeModal" tabindex="-1" aria-labelledby="showtimeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content border-radius-20">
                <div class="modal-header">
                    <h5 class="modal-title" id="showtimeModalLabel">Movie Title</h5>
                    <h1 id="theaterNameH1"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-5">

                    <!-- Tabs nav -->
                    <ul class="nav nav-tabs" id="showtimeTabs" role="tablist">
                        <li class="nav-item" th:each="item, iterStat : ${showtimeByDay}" role="presentation">
                            <button class="nav-link"
                                    th:classappend="${iterStat.index == 0} ? 'active'"
                                    th:id="'tab-'+${iterStat.index}"
                                    data-bs-toggle="tab"
                                    th:data-bs-target="'#tab-content-'+${iterStat.index}"
                                    type="button"
                                    role="tab"
                                    th:aria-controls="'tab-content-'+${iterStat.index}"
                                    th:aria-selected="${iterStat.index == 0}">
                                <span th:text="${item.dayTime}">Ngày</span>
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div th:each="day, iterStat : ${showtimeByDay}"
                             th:id="'tab-' + ${iterStat.index}"
                             th:class="'tab-pane fade' + (${iterStat.index == 0} ? ' active show' : '')">

                            <div class="row">
                                <div th:each="showtime : ${day.showtimes}">
                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 text-center">
                                        <a style="width:100%"
                                           onclick="bookingSeat('Beta Thái Nguyên', '50236ae1-260a-485b-8b5f-c5ef88d0f08f', '6551c29e-6387-4236-b5e2-971df4125946', '09:00', '28/07/2025', 'Thám Tử Lừng Danh Conan: Dư Ảnh Của Độc Nhãn', 'normal', '', 'False','');"
                                           class="btn default"
                                           th:text="${showtime.startHour}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>