<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:fragment="admin-head-resources">
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

  <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
</head>

<body>
    <aside th:fragment="admin-menu" class="sidebar">
      <h2><a th:href="@{/views/admin}" style="text-decoration: none;color: white">🎬 Admin Panel</a></h2>
      <nav>
        <ul>
          <li><a th:href="@{/views/admin/dashboard}"><i class="fas fa-chart-line"></i> Dashboard</a></li>
          <li><a th:href="@{/views/admin/movies}"><i class="fas fa-film"></i> Movies</a></li>
          <li><a th:href="@{/views/admin/showtimes}"><i class="fas fa-ticket-alt"></i> Showtimes</a></li>
          <li><a th:href="@{/views/admin/theaters}"><i class="fas fa-ticket-alt"></i> Theaters</a></li>
          <li><a href="#"><i class="fas fa-users"></i> Users</a></li>
          <li><a href="#"><i class="fas fa-money-bill"></i> Payments</a></li>
          <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
      </nav>
    </aside>
    <!--  movieModalFragment  -->
    <div th:fragment="movieModalFragment">
      <!-- Modal -->
      <div class="modal fade" id="addMovieModal" tabindex="-1" aria-labelledby="addMovieModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addMovieModalLabel">Thêm phim mới</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
              <form th:object="${movie}" method="POST" th:action="@{${actionUrl}}"
                    class="p-4 rounded shadow-sm w-100">

                <div class="row mb-3">
                  <div class="col-md-6 col-12">
                    <label for="title" class="form-label">Tên phim *</label>
                    <input type="text" class="form-control" id="title" placeholder="Nhập tên phim"
                           th:field="*{title}" required />
                  </div>
                  <div class="col-md-6 col-12">
                    <label for="posterUrl" class="form-label">URL poster *</label>
                    <input type="text" class="form-control" id="posterUrl" placeholder="Nhập URL poster"
                           th:field="*{posterUrl}" required />
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6 col-12">
                    <label for="runningTime" class="form-label">Thời lượng (phút) *</label>
                    <input type="number" class="form-control" id="runningTime" placeholder="Nhập thời lượng"
                           th:field="*{runningTime}" required />
                  </div>
                  <div class="col-md-6 col-12">
                    <label for="genre" class="form-label">Thể loại *</label>
                    <select id="genre" class="form-select select2" multiple="multiple" th:data-selected="*{genre}"
                            th:field="*{genre}">
                      <option th:each="g : ${genres}"
                              th:value="${g}"
                              th:text="${g}"></option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6 col-12">
                    <label for="releaseDate" class="form-label">Ngày phát hành *</label>
                    <input type="date" class="form-control" id="releaseDate"
                           th:field="*{releaseDate}" required />
                  </div>
                  <div class="col-md-6 col-12">
                    <label for="trailerUrl" class="form-label">URL trailer *</label>
                    <input type="text" class="form-control" id="trailerUrl" placeholder="Nhập URL trailer"
                           th:field="*{trailerUrl}" required />
                  </div>
                </div>

                <div class="mb-3">
                  <div class="col-md-6 col-12">
                    <label for="ageRating" class="form-label">Độ tuổi phù hợp</label>
                    <select class="form-select" id="ageRating" th:field="*{ageRating}" required>
                      <option th:each="rating : ${ageRatingList}"
                              th:value="${rating}"
                              th:text="${rating.label}">Chọn độ tuổi</option>
                    </select>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="description" class="form-label">Mô tả *</label>
                  <textarea class="form-control" id="description" rows="5" placeholder="Nhập mô tả"
                            th:field="*{description}" required></textarea>
                </div>

                <div class="text-end">
                  <button type="submit" class="btn btn-primary">Lưu phim</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  theaterModalFragment  -->
    <div th:fragment="theaterModalFragment">
      <!-- Modal -->
      <div class="modal fade" id="addTheaterModal" tabindex="-1" aria-labelledby="addTheaterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addTheaterModalLabel">Thêm rạp chiếu phim mới</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
              <form th:object="${theater}" method="POST" th:action="@{${actionUrl}}"
                    class="p-4 rounded shadow-sm w-100">

                <div class="row mb-3">
                  <label for="provincesForAdd" class="form-label">Tỉnh</label>
                  <select id="provincesForAdd" class="form-select">
                    <option value="">-- Chọn Tỉnh --</option>
                    <option th:each="province : ${provinces}"
                            th:value="${province.provinceId}"
                            th:text="${province.provinceName}"
                            th:selected="${theater.provinceCode == province.provinceCode}">>
                    </option>
                  </select>
                </div>

                <div class="row mb-3">
                  <label for="wardsForAdd" class="form-label">Xã</label>
                  <select id="wardsForAdd" class="form-select" th:field="*{wardId}">
                    <option value="">-- Chọn xã --</option>
                    <option th:each="ward : ${wards}"
                            th:value="${ward.id}"
                            th:text="${ward.wardName}">
                    </option>
                  </select>
                </div>

                <div class="row mb-3">
                  <label for="address" class="form-label">Địa chỉ cụ thể</label>
                  <input type="text" class="form-control" id="address"
                         th:field="*{address}" required />
                </div>

                <div class="row mb-3">
                  <label for="hotline" class="form-label">Hotline</label>
                  <input type="text" class="form-control" id="hotline"
                         th:field="*{hotline}" required />
                </div>

                <div class="mb-3">
                  <input type="checkbox"
                         class="form-check-input"
                         id="isDefaultTheater"
                         th:field="*{defaultFlag}" />
                  <label class="form-check-label" for="isDefaultTheater">
                    Rạp chiếu mặc định
                  </label>
                </div>

                <div class="text-end">
                  <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>