<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head-resources">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/common.js}" defer></script>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
</head>
<body>
    <div th:fragment="pre-header" class="top-bar d-flex justify-content-end align-items-center">
        <div class="container d-flex justify-content-end align-items-center">
            <div class="ms-auto d-flex align-items-center">
                <a th:href="@{'/views/account/login'(lang=${#locale.language})}" th:text="#{login}">Đăng nhập</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#" th:text="#{register}">Đăng ký</a>
                <div class="dropdown ms-3">
                    <a class="btn btn-sm dropdown-toggle p-0 text-decoration-none" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:if="${#locale.language == 'vi'}" th:src="@{/images/vietnam.png}" alt="Tiếng Việt" class="flag-icon" style="width: 24px;">
                        <img th:if="${#locale.language != 'vi'}" th:src="@{/images/united-kingdom.png}" alt="English" class="flag-icon" style="width: 24px;">
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" style="color:black" href="javascript:void(0)" onclick="changeLanguage('vi')">
                                <img th:src="@{/images/vietnam.png}" style="width: 20px;" alt="Tiếng Việt" class="me-2"> Tiếng Việt
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" style="color:black" href="javascript:void(0)" onclick="changeLanguage('en')">
                                <img th:src="@{/images/united-kingdom.png}" style="width: 20px;" alt="English" class="me-2"> English
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div class="header-row d-flex align-items-center">
                        <a class="site-logo" href="/home">
                            <img alt="" style="height: 55px;" th:src="@{/images/logo.png}">
                        </a>
                        <div class="top-cart-block border border-secondary p-2">
                            <div class="top-cart-info">
                                <!-- BEGIN NAVIGATION -->
                                <div class="header-navigation font-transform-inherit font-family-san menu-cinema">
                                    <ul>
                                        <li class="dropdown ">
                                            <a class="dropdown-toggle no-padding"
                                               data-toggle="dropdown"
                                               data-target="#"
                                               href="javascript:;"
                                               aria-expanded="false">
                                                <span class="me-1">Beta Quang Trung</span>
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu">

                                                <li class="dropdown-submenu">
                                                    <a>Hà Nội <i class="fa fa-angle-right"></i></a>

                                                    <ul class="dropdown-menu top-0" role="menu">

                                                        <li><a onclick="ChooseCinema('1f0b7d55-9dd6-4c46-bd4d-3b50024d14ec', 'Beta Thanh Xuân');">Beta Thanh Xuân</a></li>

                                                        <li><a onclick="ChooseCinema('86fa4c35-8d26-4f60-9cf2-fbaaba0ee25d', 'Beta Mỹ Đình');">Beta Mỹ Đình</a></li>

                                                        <li><a onclick="ChooseCinema('8bdac2c9-2cc7-464b-8cff-4bc41403b74f', 'Beta Đan Phượng');">Beta Đan Phượng</a></li>

                                                        <li><a onclick="ChooseCinema('94d6c0ca-125b-43d0-8f65-9f0880b90beb', 'Beta Giải Phóng');">Beta Giải Phóng</a></li>

                                                        <li><a onclick="ChooseCinema('ea1c1507-9560-49ff-b5e7-3fc94d5dd409', 'Beta Xuân Thủy');">Beta Xuân Thủy</a></li>

                                                        <li><a onclick="ChooseCinema('381f745f-c110-4d0c-9117-3a79f36ba9c4', 'Beta Tây Sơn');">Beta Tây Sơn</a></li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown-submenu">
                                                    <a>TP. Hồ Chí Minh <i class="fa fa-angle-right"></i></a>

                                                    <ul class="dropdown-menu top-0" role="menu">

                                                        <li><a onclick="ChooseCinema('0fdbe392-734d-402b-9399-d22bd37b6cee', 'Beta Quang Trung');">Beta Quang Trung</a></li>

                                                        <li><a onclick="ChooseCinema('a4ed71b7-2af3-46d4-acff-b7778fb2c91d', 'Beta Empire Bình Dương');">Beta Empire Bình Dương</a></li>

                                                        <li><a onclick="ChooseCinema('98b7a985-235f-4488-a795-4a9b9577a70a', 'Beta Ung Văn Khiêm');">Beta Ung Văn Khiêm</a></li>

                                                        <li><a onclick="ChooseCinema('3aa17be3-387c-4271-a313-2e5bb069b509', 'Beta Hồ Tràm');">Beta Hồ Tràm</a></li>

                                                        <li><a onclick="ChooseCinema('65966bb8-ec4a-4ef6-bd0d-429deb2b563e', 'Beta Tân Uyên');">Beta Tân Uyên</a></li>

                                                        <li><a onclick="ChooseCinema('8f2c1f5f-d274-4081-9c87-441e13dab3ee', 'Beta Trần Quang Khải');">Beta Trần Quang Khải</a></li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown-submenu">
                                                    <a>An Giang <i class="fa fa-angle-right"></i></a>

                                                    <ul class="dropdown-menu top-0" role="menu">

                                                        <li><a onclick="ChooseCinema('6e476e92-a262-4792-8120-daeb4433c025', 'Beta TRMall Phú Quốc');">Beta TRMall Phú Quốc</a></li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown-submenu">
                                                    <a>Đồng Nai <i class="fa fa-angle-right"></i></a>

                                                    <ul class="dropdown-menu" role="menu">

                                                        <li><a onclick="ChooseCinema('6af5c313-0e3e-4e72-86d6-2e4ed45e7e35', 'Beta Biên Hòa');">Beta Biên Hòa</a></li>

                                                        <li><a onclick="ChooseCinema('d1678477-49ce-4417-bc39-a080cad0e9e8', 'Beta Long Khánh');">Beta Long Khánh</a></li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown-submenu">
                                                    <a>Khánh Hòa <i class="fa fa-angle-right"></i></a>

                                                    <ul class="dropdown-menu" role="menu">

                                                        <li><a onclick="ChooseCinema('b0e45ea2-443f-404f-9412-b97a6001f157', 'Beta Nha Trang');">Beta Nha Trang</a></li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown-submenu">
                                                    <a>Thái Nguyên <i class="fa fa-angle-right"></i></a>

                                                    <ul class="dropdown-menu" role="menu">

                                                        <li><a onclick="ChooseCinema('dfd9306f-fbc8-4807-a8c6-5e6c3f7ad71c', 'Beta Thái Nguyên');">Beta Thái Nguyên</a></li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown-submenu">
                                                    <a>Thanh Hóa <i class="fa fa-angle-right"></i></a>

                                                    <ul class="dropdown-menu" role="menu">

                                                        <li><a onclick="ChooseCinema('7d4980ac-eb8f-4bcb-97eb-77cbcd75dba2', 'Beta Thanh Hóa');">Beta Thanh Hóa</a></li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown-submenu">
                                                    <a>Bắc Ninh <i class="fa fa-angle-right"></i></a>

                                                    <ul class="dropdown-menu" role="menu">

                                                        <li><a onclick="ChooseCinema('ed75f9eb-4f2c-4448-aef8-7804178df564', 'Beta Bắc Giang');">Beta Bắc Giang</a></li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown-submenu">
                                                    <a>Lào Cai <i class="fa fa-angle-right"></i></a>

                                                    <ul class="dropdown-menu" role="menu">

                                                        <li><a onclick="ChooseCinema('dac58b9b-f8f7-4f75-8586-2b43fb8824c0', 'Beta Lào Cai');">Beta Lào Cai</a></li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown-submenu">
                                                    <a>Phú Thọ <i class="fa fa-angle-right"></i></a>

                                                    <ul class="dropdown-menu" role="menu">

                                                        <li><a onclick="ChooseCinema('6bffc6ab-b2ac-408c-a92e-b7b3a0832075', 'Beta Vĩnh Yên');">Beta Vĩnh Yên</a></li>

                                                    </ul>

                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END NAVIGATION -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="header-navigation pull-right font-transform-inherit">
                        <ul>
                            <li>
                                <a href="/views/movies/movies-scheduled" th:text="#{text.movie_schedule}"></a>
                            </li>
                            <li>
                                <a href="/views/movies" th:text="#{text.movie}"></a>
                            </li>
                            <li>
                                <a href="/phim.htm" th:text="#{text.theater}"></a>
                            </li>
                            <li>
                                <a href="/gia-ve.htm" th:text="#{text.ticket_price}">GIÁ VÉ</a>
                            </li>
                            <li>
                                <a href="/thong-tin-tai-khoan.htm" th:text="#{text.membership}">THÀNH VIÊN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>