<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head-resources">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/common.js}" defer></script>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
</head>
<body>
    <div th:fragment="pre-header" class="top-bar d-flex justify-content-end align-items-center">
        <div class="container d-flex justify-content-end align-items-center">
            <div class="ms-auto d-flex align-items-center">
                <a th:href="@{'/views/account/login'(lang=${#locale.language})}" th:text="#{login}">Đăng nhập</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#" th:text="#{register}">Đăng ký</a>
                <div class="dropdown ms-3">
                    <a class="btn btn-sm dropdown-toggle p-0 text-decoration-none" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:if="${#locale.language == 'vi'}" th:src="@{/images/vietnam.png}" alt="Tiếng Việt" class="flag-icon" style="width: 24px;">
                        <img th:if="${#locale.language != 'vi'}" th:src="@{/images/united-kingdom.png}" alt="English" class="flag-icon" style="width: 24px;">
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" style="color:black" href="javascript:void(0)" onclick="changeLanguage('vi')">
                                <img th:src="@{/images/vietnam.png}" style="width: 20px;" alt="Tiếng Việt" class="me-2"> Tiếng Việt
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" style="color:black" href="javascript:void(0)" onclick="changeLanguage('en')">
                                <img th:src="@{/images/united-kingdom.png}" style="width: 20px;" alt="English" class="me-2"> English
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <a class="site-logo" href="/home">
                        <img alt="" style="height: 55px;" th:src="@{/images/logo.png}">
                    </a>
                </div>
                <div class="col-md-11">
                    <div class="header-navigation pull-right font-transform-inherit">
                        <ul>
                            <li>
                                <a href="/lich-chieu.htm" th:text="#{text.movie_schedule}"></a>
                            </li>
                            <li>
                                <a href="/views/movies" th:text="#{text.movie}"></a>
                            </li>
                            <li>
                                <a href="/phim.htm" th:text="#{text.theater}"></a>
                            </li>
                            <li>
                                <a href="/gia-ve.htm" th:text="#{text.ticket_price}">GIÁ VÉ</a>
                            </li>
                            <li>
                                <a href="/thong-tin-tai-khoan.htm" th:text="#{text.membership}">THÀNH VIÊN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>